/* ***********************************************
   Start CSS Reset Code  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* End CSS Reset Code
   ***********************************************    */



#contentTable {
    position:relative;
}

#topBorder {
    position: fixed;
    top:0;
    width:100%;
    background: black;
    z-index:100;
}

#bottomBorder {
    position: fixed;
    bottom:0;
    width:100%;
    background: black;
    z-index:101;
}

#leftBorder {
    position:relative;
    height:100%;
}

#rightBorder {
    position:relative;
    height:100%;
}

#leftBorderContent {
    position:absolute;
    background: black;
    z-index:101;
    left:0;
    right:0;
    bottom:0;
    top:0;
}

#rightBorderContent {
    position:absolute;
    background: black;
    z-index:101;
    left:0;
    right:0;
    bottom:0;
    top:0;
}

#chapter3Content {
    z-index:1;
}

.vjs-fullscreen {padding-top: 0px}


body
{
    line-height: 1;
    width: 100%;
    height:100%;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
    background: black;

    /*overflow-x: hidden;*/
}

.video-js {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}

.vjs-tech {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}

.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fullScreenImage {
    position:absolute;
    width:100%;
    opacity:0;
}

#vidRunningVideo1 {
    z-index:3;
}

#vidDogsRunning {
    position: relative;
    width:100%;
    opacity:0;
}

#vidRunningVideo2 {
    position: relative;
    width:100%;
    opacity:0;
}

#vidRunningVideo3 {
    position: relative;
    width:100%;
    opacity:0;
}

#vidRunningVideo4 {
    position: relative;
    width:100%;
    opacity:0;
}

#vidRunningVideo5 {
    position: relative;
    width:100%;
    opacity:0;
}

#vidRunningVideo6 {
    position: relative;
    width:100%;
    opacity:0;
}


#imgClimbingTree {
    z-index:1;
    position:absolute;
    transform: translateY(-1000px);
}

#vidRunningVideo1 {

}

.classText {
    position:absolute;
    text-align: left;
    opacity:0;
    z-index:10;
}

#imgInTree_1 {
    z-index:1;
}

#imgInTree_2 {
    z-index:3;
}

#imgInTree_3 {
    z-index:4;
}

#imgInTree_DogsLow {
    z-index:2;
    opacity:0;
    transform: translateX(-200px);
}

#imgInTree_DogsMid {
    z-index:2;
    opacity:0;
    transform: translateX(200px);
}

#imgInTree_DogsHigh {
    z-index:2;
    opacity:0;
    transform: translateX(-200px);
}

#imgQuicksand4 {
    transform: translateY(1500px);
}

#imgKnifeTrap {
    /*position:absolute;
    height:100%;
    opacity:0;*/
    /*transform: translateX(2000px);*/

    position: absolute;
    width: 156%;
    /*tranform: translateX(0px);*/
    opacity: 0;
    vertical-align: bottom;
}

#imgCliff {
    transform: translateY(-1000px);
}

#imgEnd1 {
    transform: translateY(1000px);
}

#imgEnd2_1 {
    z-index: 1;
}

#imgEnd2_2 {
    z-index: 2;
}

#imgEnd2_3 {
    z-index: 3;
}

#imgEnd6 {
    z-index: 1;
}

#imgEnd5_2 {
    z-index:2;
}

#imgEndingText1 {
    z-index:3;
}

#imghuntredoText1 {
    margin-top:40%;
}

#imghuntredoText2 {
    width:50%;
    margin-top:25%;
    margin-left:20%;
}

#imghuntredoText3 {
    width:100%;
    margin-top:20%;
    margin-left:2%;
}

#imghuntredoText4 {
    margin-top:25%;
}


#imgEndingText1 {
    margin-top: 40%;
}

#imgEndingText2 {
    margin-top: 43%;
}

#imgEndingText3 {
    margin-top: 35%;
}

#imgEndingText4 {
    margin-top: 39%;
}

#imgEndingText5 {
    margin-top: 33%;
}

#imgEndingText6 {
    margin-top: 3%;
}






