body{
	background-color: black;
	color: white;
	text-align:center;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	color: white;
	font-family: georgia;
	font-size: 1em;
}

button:hover {
	color: blue;
}

table{
	text-align:center;
}

#start {
	margin-left: auto;
    margin-right: auto;
	width: 7%;
}

#logo {
	width: 75%;
	height: auto;
	margin-left: auto;
    margin-right: auto;
}