/* ***********************************************
   Start CSS Reset Code  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* End CSS Reset Code
   ***********************************************    */


/* This will Set videos to 16:9 when setting width % (to make the video as wide as the window) and setting height to auto (to adjust according to width)
   For more information, check: http://coolestguidesontheplanet.com/videodrome/videojs/   */
.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}


body
{
    line-height: 1;
    max-width: 1680px;
    max-height:1050px;
    /*width: 1680px;
    height:1050px;*/
    overflow-x: hidden;

    /*overflow-y: hidden;*/
}

html {
    width: 100%;
    height: 100%;
    background: white;

    /*overflow-x: hidden;*/
}

#vidIntroVideo {
    opacity: 1;
}

#divTrigIntroVideo {
    text-align: center;
}

#divGlobeScene {
    width:100%;
    height:100%;
    overflow-x: hidden;
}

#imgGlobe {
    text-align: center;
    position:relative;
    width: 100%;
    /*width:      100%;                /* doesn't work without this line! 
    margin-left: -5%;
    margin-top:  -16%;*/
    -ms-transform: scale(.5,.5);     /* IE 9 */
    -webkit-transform: scale(.5,.5); /* Chrome, Safari, Opera */
    transform: scale(.5,.5);
    opacity:0;
    z-index:.8;
}


#imgPlane {
    position:absolute;
    width:20%;
    margin-left: 46%;                   /* 750px; */
    margin-top:  15%;                   /* 100px; */
    opacity:      0;
    -ms-transform: scale(.20,.20);     /* IE 9  */
    -webkit-transform: scale(.20,.20); /* Chrome, Safari, Opera */
    transform: scale(.20,.20);
    z-index:  1;
}


#imgYacht {
    position:absolute;
    width: 15%;
    margin-left: 45%;                   
    margin-top:   -4%;               
    opacity:      0;
    -ms-transform: scale(.10,.10);     
    -webkit-transform: scale(.10,.10); 
    transform: scale(.10,.10);
    z-index:  2;
}

#divTrigEndGlobeScene {
    position:absolute;
}

#divTrigYachtScene1 {
    /*width: 1680;*/
    width:100%;
    height:100%;
    text-align: left;
}

#vidDarkWater {
    position:absolute;
    width:100%;
    opacity: 0;
}

#imgYachtScene1 {
    position:absolute;
    width:100%;
    margin-top: -12%;
    opacity: 0;
}

#imgYachtText1 {
    position:absolute;
    margin-top: 16%;
    z-index: 3;
    opacity: 0;
}

#imgYachtScene2 {
    position:absolute;
    width: 140%;
    transform: translateX(2000px);
    opacity: 1;
}

#imgYachtScene3 {
    position: absolute;
    width: 140%;
    tranform: translateX(0px);
    opacity: 0;
}

#imgYachtText2{
    position: absolute;
    margin-top: 8%;
    z-index: 3;
    opacity: 0;
}

#imgYachtText3{
    position: absolute;
    margin-top: 8%;
    z-index: 3;
    opacity: 0;
}

#imgYachtScene4{
    position: absolute;
    width: 140%;
    tranform: translateX(0px);
    opacity: 0;
}

#imgYachtText4{
    position: absolute;
    margin-top: 8%;
    margin-left: 16%;
    z-index: 3;
    opacity: 0;
}


/*
    #divTrigGate {
        text-align:center;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

    #divBackgroundHolder {
        background-image: url(./resources/img/scene3/imgBehindGate.png);
    }

    .gate{
        display: inline-block;     /*allows the two gate images to be side by side 
        margin-left: auto;
        margin-right: auto; 
    }
*/

/* For Wipe, The div is overflow:hidden and starts at a width of 0% and ends at a width of 100%. */
/* For Swipe, The div is positioned top: -100% and then animated to 0%.    */